/* Font Style */
.jost {
     font-family: "Jost", sans-serif;
}

.spacemono {
     font-family: "Space Mono", monospace;
}

/* style */
html {
     scroll-behavior: smooth;
}

body::-webkit-scrollbar {
     display: none;
}

body {
     overflow-x: hidden;
     font-family: "Jost", sans-serif;
}

a {
     text-decoration: none;
}

nav span {
     color: #007bff;
}

.navbar-custom {
     background-color: #181a1b;
}

.navbar-custom .navbar-nav .nav-link {
     color: rgba(255, 255, 255, 0.7);
}

.font-grey {
     color: rgba(255, 255, 255, 0.7);
}

.navbar-nav .nav-item .nav-link {
     transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
     color: #007bff;
}

.hero {
     align-items: center;
     display: flex;
     flex-direction: column;
     gap: 2.5rem;
     justify-content: center;
     min-height: 100vh;
     padding: 0 2rem;
     position: relative;
}

.hero .hero-img {
     background-image: url(../img/prism.png);
     inset: 0;
     position: absolute;
     z-index: -1;
}

.hero .title {
     color: #fff;
     font-size: 4rem;
}

.hero h1 {
     text-shadow: 0 4px 10px black;
}

.hero .desc {
     color: #fff;
}

.about {
     min-height: auto;
     padding: 5rem 1.5rem;
     position: relative;
}

.about .hero-img {
     background-color: #242424;
     background-position: 50%;
     background-repeat: no-repeat;
     background-size: cover;
     inset: 0;
     position: absolute;
     z-index: -1;
}

.about .title {
     color: #fff;
     font-size: 3rem;
     margin: 0;
}

.about .desc {
     color: #fff;
     text-align: justify;
}

.about img {
     width: 350px;
     height: 350px;
     object-fit: cover;
}

.skill {
     height: fit-content;
     padding: 5rem 1.5rem;
     position: relative;
}

.skill .title {
     color: #fff;
     font-size: 3rem;
     margin: 0;
}

.skill .hero-img {
     background-color: #181a1b;
     background-position: 50%;
     background-repeat: no-repeat;
     background-size: cover;
     inset: 0;
     position: absolute;
     z-index: -1;
}

.skill .card-img-top {
     max-height: 150px;
     object-fit: cover;
}

.skill .card-body {
     text-align: center;
}

.skill .card-title {
     margin-top: 10px;
     font-size: 18px;
     font-weight: bold;
}

.skill .card:hover .card-body h5 {
     color: #007bff;
}

.skill .custom-card {
     max-width: 100%;
     height: auto;
}

.owl-theme .owl-dots .owl-dot.active span {
     background-color: #007bff;
}

.projects {
     min-height: auto;
     padding: 5rem 1.5rem;
     position: relative;
}

.projects .hero-img {
     background-color: #242424;
     background-position: 50%;
     background-repeat: no-repeat;
     background-size: cover;
     inset: 0;
     position: absolute;
     z-index: -1;
}

.projects .title {
     color: #fff;
     font-size: 3rem;
     margin: 0;
}

.contact {
     min-height: auto;
     padding: 5rem 1.5rem 8rem;
     position: relative;
}

.contact .hero-img {
     background-color: #181a1b;
     background-position: 50%;
     background-repeat: no-repeat;
     background-size: cover;
     inset: 0;
     position: absolute;
     z-index: -1;
}

.contact .title {
     color: #fff;
     font-size: 3rem;
     margin: 0;
}

.contact .container {
     color: #fff;
     max-width: 500px;
}

.contact .container form p {
     color: red;
     font-size: 0.9rem;
     margin-bottom: 0;
}

.contact .container button {
     background-color: #007bff;
     color: #fff;
     border: #fff;
}

footer {
     background-color: #181a1b;
}

footer a {
     color: white;
}

footer a:hover {
     color: #007bff;
}

/* Style pada mobile */
@media screen and (max-width: 640px) {
     .hero .title {
          font-size: 2.5rem;
     }

     .about img {
          width: 100%;
          height: auto;
     }

     .about .container .row .pt-5 {
          padding-top: 0 !important;
     }

     .skill .custom-card {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
     }

     .skill .card-img-top {
          max-width: 40%;
     }

     .skill .card .card-body h5 {
          font-size: 1rem;
          width: 100%;
     }

     .skill .card-body {
          flex-grow: 1;
     }

     .projects .custom-carousel {
          height: 100% !important;
          width: 100% !important;
     }

     .contact .container form p {
          color: red;
          font-size: 0.7rem;
          margin-bottom: 0;
     }
}

/* Style pada tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
     .projects .custom-carousel {
          height: 100% !important;
          width: 100% !important;
     }
}
